<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
</head>
<body>

    <h1>TESTE</h1>

    <table>
        <tr>
            <th>NOME</th>
            <th>login</th>
            <th>senha</th>
        </tr>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.nome}"></td>
            <td th:text="${usuario.login}"></td>
            <td th:text="${usuario.senha}"></td>
        </tr>
    </table>

    <ul th:each="usuario : ${usuarios}">
        <li th:text="'Nome: '+${usuario.nome}"></li>
        <li th:text="'Login: '+${usuario.login}"></li>
        <li th:text="'Senha: '+${usuario.senha}"></li>
    </ul>

</body>
</html>