<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avaliacao</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
    <h1>Adicionar avaliação</h1>

    <div class="d-flex justify-content-center text-center">
        <form class="row" action="#" th:action="@{/avaliacao/add}" th:object="${avaliacao}" method="post">
            <div class="col">
                <label class="form-label">Descrição da avaliacao</label>
                <input type="text" th:field="*{descricao}" class="form-control">
            </div>
            <div><br>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button type="reset" class="btn btn-secondary">Limpar</button>
                <button type="submit" class="btn btn-danger">Cancelar</button>
            </div>
        </form>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>