<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar usuário</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<div class="d-flex justify-content-center text-center">
    <form class="row" action="#" th:action="@{/jogo/add}" th:object="${jogo}" method="post">
        <div class="col">
            <label class="form-label">Nome do jogo:</label>
            <input type="text" th:field="*{nome}" class="form-control">
        </div>
        <div class="col">
            <label class="form-label">Descrição do jogo:</label>
            <input type="text" th:field="*{descricao}" class="form-control">
        </div>
        <div><br>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <button type="reset" class="btn btn-secondary">Limpar</button>
            <button type="submit" class="btn btn-danger">Cancelar</button>
        </div>
    </form>
</div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>