<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jogos</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

    <header th:replace="~{fragments/header :: header}"></header>

    <h1 class="text-center"> Listagem de Jogos</h1>

    <th:block th:each="jogo : ${jogos}">
        <div class="col-md flex-nowrap">
            <div class="card text-center g-4">
                <div class="card-header"></div>
                    <div class="card-body">
                        <h3 class="card-title" th:text="${jogo.nome}" />
                        <p class="card-text" th:text="${jogo.descricao}" />
                        <a style="text-decoration: none" th:href="@{'/avaliacao/add/' + ${jogo.id}}">
                            <button class="btn btn-primary" type="button">
                                Adicionar avaliação
                            </button>
                        </a>
                        <a style="text-decoration: none" th:href="@{'/jogo/' + ${jogo.id}}">
                            <button class="btn btn-primary" type="button">
                                Visualizar avaliações
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>